server {{
  listen 80;

  server_name {name}.dev;

  #enable php-fpm
  location / {{
      include   /usr/local/etc/nginx/conf.d/php-fpm;
  }}

  #logs
  access_log  /Users/berto/Projects/www/logs/{name}.access.log  main;
  error_log  /Users/berto/Projects/www/logs/{name}.error.log;

  # Path for static files
  root /Users/berto/Projects/www/{name};

  #Specify a charset
  charset utf-8;

  # Custom 404 page
  # error_page 404 /404.html;

}}
